:root {
  --dark-gray: #162f37;
  --mid-gray: #a7a7a7;
  --background: #e5e5e5;
  --white: #ffffff;
  --black: #000000;
  --success: #6ee9c5;
  --error: #fa3232;
}

.App {
  background-color: var(--background);
  height: 100%;
}
