:root {
  --dark-gray: #162f37;
  --mid-gray: #a7a7a7;
  --light-gray: #8ca1a1;
  --background: #e5e5e5;
  --text: #5b6a6d;
  --white: #ffffff;
  --black: #000000;
  --success: #6ee9c5;
  --light-success: #dffdf4;
  --error: #fa3232;
  --light-error: #ffe2e2;
}

.app {
  background-color: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-container {
  padding: 36px 98px;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.contracts-container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-family: HKGroteskExtraBold;
  font-size: 32px;
  margin-bottom: 33px;
}

.section1,
.section2 {
  display: flex;
  flex-direction: column;
}

.section2 {
  max-width: 370px;
  justify-content: center;
  align-items: center;
}

.spinning-globe {
  align-self: center;
  height: 325px;
  width: 325px;
}

.contract-alert-response {
  margin-bottom: 20px;
}
