@font-face {
  font-family: "HKGrotesk";
  src: local("HKGrotesk"),
    url(./Assets/fonts/HKGrotesk-Regular.otf) format("truetype");
}

@font-face {
  font-family: "HKGroteskBold";
  src: local("HKGroteskBold"),
    url(./Assets/fonts/HKGrotesk-Bold.otf) format("truetype");
}

@font-face {
  font-family: "HKGroteskExtraBold";
  src: local("HKGroteskExtraBold"),
    url(./Assets/fonts/HKGrotesk-ExtraBold.otf) format("truetype");
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: HKGrotesk, -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: var(--dark-gray);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
}

.card {
  background-color: var(--white);
  border-radius: 8px;
  border: 0;
  box-shadow: 0px 6px 10px 0px rgb(167 167 167 / 5%);
}

.date-text {
  font-size: 12px;
  color: var(--light-gray);
}

.destination {
  font-family: HKGroteskBold;
  font-size: 20px;
  font-weight: 700;
}

.error-text {
  color: var(--error);
}
